/* 节点 */
:root {
  --zencoder-node-width: 180px;
}

/* 边 */
:root {
  --zencoder-edge-flow-color: white;
  --zencoder-edge-boolean-color: crimson;
  --zencoder-edge-integer-color: aqua;
  --zencoder-edge-float-color: lime;
  --zencoder-edge-string-color: fuchsia;
  --zencoder-edge-array-color: yellow;
  --zencoder-edge-set-color: lightpink;
  --zencoder-edge-dict-color: lightgreen;
}
